body {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #315b96;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-container {
  margin: 10px;
  max-width: 760px;
  background-color: #ffdfdf;
  border-radius: 10px;
}

.actualData {
  font-weight: 800;
  font-weight: bold;
  font-size: 20px;
}

.repository {
  font-size: 12px;
}
